html, body{
	height:100%;
	margin:auto;
	
}
.father{
	width:98%;
	border: 1px solid red;
	height:30px;
	display: flex;
	align-items: center;
}
.son1{
	font-size: 12px;
	height:30px;
	color:red;
	line-height:40px;

}
.son2{
	height:30px;
	font-size: 20px;
	color:blue;
	line-height:36px;
}
.son3{
	width: 3px;
	height:3px;
	border-radius: 3px;
	background: gray;
}
.son4{
	height:30px;
	font-size: 15px;
	color:gray;
	line-height:40px;
}
